@import '@/styles/breakpoints';
@import '@/styles/fonts';
@import '@/styles/glass';
@import '@/styles/section-shell';
@import '@/styles/z-index';

.textContentWrapper {
  @include section-shell-panel;

  @include min768 {
    display: flex;
  }

  @include min1440 {
    flex-direction: row;
    max-width: 1024px;
    min-height: 400px;
  }
}

.contentLeft {
  flex: 1;
}

.headerGroup {
  width: 300px;
  margin-right: var(--horizontal-4xl);
}

.textContent {
  gap: 12px;

  @include min1024 {
    gap: 16px;
  }
}

.text {
  display: block;
  color: var(--star-light-70);
}

.mentorButton {
  align-self: flex-end;
  margin-top: var(--vertical-xl);

  @include min768 {
    margin-top: var(--vertical-2xl);
  }
}

.container {
  position: relative;
  @include section-layout-container;
}
