@import '@/styles/breakpoints';

.section {
  width: 100%;
  margin-top: 120px;
  padding: var(--section-padding-medium);

  --section-padding-small: 0 var(--horizontal-xs);
  --section-padding-large: 0 var(--horizontal-13xl);

  @include min768 {
    margin-top: 200px;
    padding: var(--section-padding-large);
  }
}
